
#inn {
    border: 1px solid gray;
}

#bagger {
    border: 1px solid gray;
}

#bag{
    border: 1px solid gray;
    
}

.WeaponImages{
    object-fit: cover;
    
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    display: flex;
    align-items: flex-start;
}